@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  @apply bg-gray-100 text-black-600;
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
  border: 0;
}

.login__animation {
  animation: 1s login;
}

.wallpaper__animation {
  animation: 1s wallpaper;
}

.loading {
  animation: spin 1s linear infinite;
}

.menu {
  animation: 0.4s menu;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes login {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

@keyframes wallpaper {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}
